<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Dynamic page</title>
</head>
<body>
<h1>Dynamic page</h1>
<p>
    Hi!<br>
    It's an example of dynamic page. <br>
    Url to this page has the form: "item/123", where 123 is an url parameter. It can be any number.
    This number will be extracted and used to build this page.
</p>
<p>
    So number here: <br>
    <b>Item # $item_id</b> <br>
    was extracted from url.
</p>
<p><a href="/">Back to main</a></p>

</body>
</html>