<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Page with static files</title>
</head>
<body>
<h1>Page with static files</h1>
<p>
    Usually your web server is configured to serve static file (images, java scripts, etc.), 
    but during development Vial can do that as well. <br>
    Static files should be put in a folder in your project called "static" and they will be available at "/static" url.
</p>
<p>
    Here is an example of static file: <br>
    <img src="static/images/vial.jpg" alt="logo">
</p>
<p><a href="/">Back to main</a></p>

</body>
</html>